*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/dictionaries/
.idea/shelf/
.idea/tasks.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.kotlin/

*.swp
*.apk
*.ap_
*.aab

*.dex

*.class

bin/
gen/
out/
.gradle/

build/
*/build/

.idea/
*.iml
*.ipr
*.iws

.settings/
.classpath
.project

captures/

*.log

.navigation/

*.hprof

google-services.json

keystore.properties
*.jks
*.keystore

app/release/
app/debug/

